# Unityのメタデータ・テンポラリファイルを無視 #
Library/
Temp/
Obj/
UnityGenerated/
BuildOut/

# Visual Studio/MonoDevelop の編集ファイルを無視 #
.vs
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# OS 固有のファイルを無視 #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

